header {
  width: 100%;
  height: 5rem;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: Monospace;
  color: black;
  position: center;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }
}
