@import './base.css';

#app {
  display: grid;
  grid-template-rows: auto 1fr; /* Header row, content row */
  min-height: 100vh;
}

/* This will target the main content area placed by Vue Router */
main {
  overflow-y: auto; /* Allow content to scroll if it overflows */
  height: 100%;
}
